@import "tailwindcss";

@theme {
  --color-surface: #051424;
  --color-surface-container-lowest: #010f1f;
  --color-surface-container-low: #0d1c2d;
  --color-surface-container: #122131;
  --color-surface-container-high: #1c2b3c;
  --color-surface-container-highest: #273647;
  --color-surface-variant: #273647;
  --color-on-surface: #d4e4fa;
  --color-on-surface-variant: #c6c6cd;
  
  --color-primary: #c0c6de;
  --color-on-primary: #2a3043;
  --color-primary-container: #020617;
  --color-primary-fixed: #dce1fb;
  
  --color-secondary: #c4c1fb;
  --color-secondary-container: #444173;
  --color-on-secondary-container: #b3afe9;
  
  --color-tertiary: #f7be1d;
  --color-on-tertiary: #3f2e00;
  --color-tertiary-container: #0b0600;
  
  --color-background: #051424;
  --color-on-background: #d4e4fa;
  
  --color-outline: #909097;
  --color-outline-variant: #46464c;
  --color-error: #ffb4ab;

  --spacing-void-sm: 8px;
  --spacing-void-md: 16px;
  --spacing-void-lg: 32px;
  --spacing-void-xl: 64px;

  --font-display-lg: 'Literata', serif;
  --font-body-main: 'Geist', sans-serif;
  --font-verse-italic: 'Literata', serif;
  --font-label-mono: 'Geist', sans-serif;
  --font-ui-header: 'Geist', sans-serif;
}

@layer base {
  html, body { 
    margin: 0; 
    padding: 0; 
    height: 100%; 
    background-color: var(--color-background);
    color: var(--color-on-background);
    font-family: var(--font-body-main);
  }
  ::-webkit-scrollbar { display: none; }
}
